*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ol, ul, li {
    list-style: none;
}

header{
    height: 136px;
    background-color: aqua;
}

.cabecalho{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    font-size: 24px;
    max-height: 100%;

    
    
    
}

.links{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 45vw;
    color: aliceblue;
}
.logo{
padding-top: 25px;
display: flex;
width: 30vw;


}
body{
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;
    width: 100vw;

}
.texto{
    color: aliceblue;
    display: flex;
    text-align:start;
    width: 100vw;
    height: 30vh;
    align-items: start;
    
}
.agrupar{
    text-align: center ;
}
.redimensionar{
    align-items: end;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;

}
.texto h1{
    font-size:40px;
}

.texto h2{
    font-size: 26px;
    
}
.tudo{
   
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    


}
.burro{
 text-align: end;   
 display: flex;
    
    
    
}
.ajuste{
    display: flex;
    padding-top: 24px;
    align-items:center;
    width: 25vw;
    justify-content: end;
    height: 100%;
    padding-top: 70px;
    height: 10vh;


   
}
.ajuste h3{
    position: absolute;
    transform: translate(25%, 30%);
    top: 60%;
     color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    align-items: center;
    



}

.span{
    height: auto;
    width: 20vw;
    font-size: larger;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    float: right;
}




.triangulo{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #000000;
    
  
}



main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    

}
.triangulo-principal{
    position: absolute;
        z-index: -999;
        left: 0;
        top: 0%;
        transform: translate(0, 30%);
        max-height: 75vh;
        

        
}
 
.numero{
    position: absolute;
    transform: translate(0, 0);
    bottom: 20px;
    left: 24px;
    height: 150px;
    width: 303;


}
.cavaleiro{
    height: 400px;
    position: absolute;
     transform: translate(0, 0);
     top: 20%;
     left: 30%;
     z-index: -998;
}


.texto-secundario{
    background-color: aqua;
}




@media (max-width: 768px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
    }
    .logo{
        height: 200px;
        width: 600px;
       
    }
    .links{
        display: flex;
        justify-content:center;
        font-size: 26px;
    }
    .link{
        padding-left: 30px;
        padding-right: 30px;
    }
  
    .agrupar{
        width: 30vw;
        padding-left: 30px;
        z-index: 3;

    }
    .agrupar h2 {
        font-size: 25px;
    }
    .ajuste{
        align-items: flex-start;
        flex-grow: 1;
        padding-left: 64px;
        padding-top: 0;
        z-index: 3;
        justify-content: left;
    }
    .ajuste h3{
        font-size: 22px;
        top: 60%;
        
        
    }
   
    .numero{
        height: 15vh;
        transform: translate(10%, 0%);
        top: 80%;
        left: 00%;
    }
    .cavaleiro{
                transform: translate(60%, 40%);
                height: 50vh;
                top: 10%;
                left: 0%;
                z-index: 2;

    }
    .triangulo-principal{
        height: 77vh;
        z-index: 1;
    }
    .span{
        z-index: 3;
        padding: 0;
        text-align: left;   
        height: 30vh;
        width: 15vw;
        display: flex;
        flex-direction: column;
     }
     .span span{
        padding-bottom: 25px;
     }
     .ajuste::after {
    content: "";
    position: absolute;
    height: 0px;
    z-index:0;
    background: #000000;
    width: 0;
    transition: width 0.0s ease;
    transform: translate(20%, 10%);
    opacity: 0;
}



.ajuste::after {
    bottom: 0%;
    right: 0%;
}


.ajuste:hover::after,
.ajuste:active::after {
    width: 0%;
}

}

@media (max-width:480px){
    .cabecalho{
        display: flex;    }
    .logo{
        height: 15vh;
        width: auto;
        
    }
    header{
        padding: 0;
    }
    .cabecalho{
        padding: 0;
    }
    .link{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .agrupar{
        display: flex;
        flex-direction: column;
        text-align: left;
      
    }
    .agrupar h1{
        font-size: 40px;
    }
    .agrupar h2{
        font-size: 20px;
       
    }
    .ajuste h3{
        left: 15%;
        top: 55%;
        width: 50px;
    }
    
    .span{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 30vw;
    
    }
    .span span{
        padding: 0;
        font-size: 12px;
        text-align: right;
        font-weight: bold;
    }
    .cavaleiro{
        left: -10%;
        top: 32%;
        height: 33vh;
    }
    .ajuste::after {
    content: "";
    position: absolute;
    height: 4px;
    z-index:0;
    background: #000000;
    width: 0;
    transition: width 0.9s ease;
    transform: translate(0, 90%);
    opacity: 0;
}
}
.ajuste::after {
    content: "";
    position: absolute;
    height: 4px;
    z-index:0;
    background: #000000;
    width: 0;
    transition: width 0.9s ease;
    transform: translate(0, 30%);
    
}



.ajuste::after {
    bottom: 36%;
    right: 70%;
}


.ajuste:hover::after,
.ajuste:active::after {
    width: 15%;
}
        
