*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ol, ul, li {
    list-style: none;
}

.cabecalho{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    font-size: 24px;
    
    
    
}

.links{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 45vw;
    color: aliceblue;
}
.logo{
padding-top: 25px;
display: flex;
width: 30vw;


}
body{
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;

}
.texto{
    color: aliceblue;
    background-color: aqua;
    display: flex;
    text-align:start;
    width: 100vw;
    height: 30vh;
    
}
.agrupar{
    text-align: center ;
}
.redimensionar{
    align-items: end;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;

}
.texto h1{
    font-size:60px;
}

.texto h2{
    font-size: 36px;
    
}
.tudo{
   
   background-color: aquamarine; 
   opacity: 0.5;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: space-around;


}
.burro{
 text-align: end;   
 display: flex;
    
    
    
}
.ajuste{
    display: flex;
    padding-top: 24px;
    align-items: start;
    background-color: rgb(132, 0, 255);
    width: 25vw;
    height: 100%;
    width:max-content;
    padding-top: 70px;

   
}
.span{
    background-color: aqua;
}
.span-h3{
    background-color: #000000;
}
.triangulo{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #000000;
    
  
}
h3{
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    align-items: center;
    
    
}
h3 div{

}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    

}
.triangulo-principal{
    position: absolute;
        z-index: -999;
        left: 0;
        top: 0%;
        transform: translate(0, 30%);
        height: 1070px;
        width: 100vw;

        
}
.numero{
    position: absolute;
    transform: translate(78%, 100%);
    top: 50%;


}
.cavaleiro{
    height: 664px;
    position: absolute;
     transform: translate(0, 20%);
     top: 18%;
     left: 60%;
}


.texto-secundario{
    background-color: aqua;
}
